:root{

    /* font-size */
    --fs-50:50px;
    --fs-36:36px;
    --fs-35:35px;
    --fs-29:29px;
    --fs-25:25px;
    --fs-20:20px;
    --fs-18:18px;
    --fs-16:16px;
    --fs-14:14px;
    --fs-12:12px;
    --fs-11:11px;
    --fs-28:28px;
    --fs-15:15px;

    /* color */
    --whitee:#FBFBFB;
    --light-white: #FFF;
    --dark-blue:#0B132A;
    --grey:#4F5665;
    --red:#F53855;
    --white:#FFFFFF;
    --dark-white:#FAFAFA;
    --green:#2FAB73;
    --light-grey:#EEEFF2;
    --grey-low:#AFB5C0;
}

.grey-c{
    color: var(--grey);
}

.dark-blue{
    color: var(--dark-blue);
}

.red-c{
    color: var(--red);
}

.fs-20{
    font-size: var(--fs-20);
}

.fs-25{
    font-size: var(--fs-25);
}

.fs-16{
    font-size: var(--fs-16);
}

.fs-14{
    font-size: var(--fs-14);
}

.fs-18{
    font-size: var(--fs-18);
}

.fs-35{
    font-size: var(--fs-35);
}

.grey-low{
    color: var(--grey-low);
}