@import url(../css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
}

.menu {
    padding: 35px;
    position: fixed;
    background-color: var(--white);
    z-index: 10;
    left: 0%;
}

.lg-view {
    display: none;
}

.nav-icon {
    position: fixed;
    right: 4%;
}

.gap-100 {
    gap: 100px;
}

.lasles {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-20);
    line-height: 23.7px;
    text-align: left;
}

.gap-10 {
    gap: 10px;
}

.about {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    line-height: 18.96px;
}

.about:hover {
    color: var(--red);
    cursor: pointer;
}

.gap-40 {
    gap: 40px;
}

.pl-0 {
    padding-left: 0px;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.signlayout {
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid var(--red);
    background: transparent;
}

.signlayout:hover {
    color: var(--white);
    background: var(--red);
    transform: scale(1.1) !important;
    transition: all linear 0.3s;
    box-shadow: 0 0 29px -2px var(--red);
}

.gap-30 {
    gap: 30px;
}

.sect1-head {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-50);
    line-height: 70px;
    text-align: left;

}

.mw-555 {
    max-width: 555px;
}

.pt-100 {
    padding-top: 100px;
}

.sect1-head2 {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    line-height: 30px;
}

.text-left {
    text-align: left;
}

.getlayout {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    color: var(--red);
    border: 1px solid var(--red);
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    font-weight: 700;
    line-height: 25px;
    background: transparent;
}

.getlayout:hover {
    color: var(--white);
    background: var(--red);
    transform: scale(1.1) !important;
    transition: all linear 0.3s;
    box-shadow: 0 0 29px -2px var(--red);
}

.pt-62 {
    padding-top: 62px;
}

.info-box-lite {
    width: 205px;
}

.info-box {
    padding: 38px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 11px 13px 24px;
    border-radius: 10px;
}

.mt-90 {
    margin-top: 90px !important;
}

.gap-35 {
    gap: 35px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sect2-head {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-35);
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    color: var(--dark-blue);
}

.mw-383 {
    max-width: 383px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mt-83 {
    margin-top: 83px !important;
}

.mt-138 {
    margin-top: 138px !important;
}

.sect2-head2 {
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
    text-align: left;
    color: var(--grey);
}

.mw-428 {
    max-width: 428px;
}

.pt-31 {
    padding-top: 31px;
}

.mt-23 {
    margin-top: 23px;
}

.pt-60 {
    padding-top: 60px;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-130 {
    margin-bottom: 130px;
}

.bg-white {
    background-color: var(--white);
}

.bg {
    background-color: var(--whitee);
}

.sect3-head2 {
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
}

.section-3-box {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background-color: var(--white);
}

.section-3-box:hover {
    border: 2px solid var(--red);
}

.mt-30 {
    margin-top: 30px;
}

.gap-15 {
    gap: 15px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-17 {
    padding-bottom: 17px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-130 {
    padding-top: 130px;
}

.gap-20 {
    gap: 20px;
}

.c-p {
    cursor: pointer;
}

.mt-10 {
    margin-top: 10px;
}

.mt-92 {
    margin-top: 92px;
}

.pb-120 {
    padding-bottom: 120px;
}

.select-btn {
    font-weight: 700;
    color: var(--red);
    background-color: var(--light-white);
    padding: 13px 62px 13px 62px;
    border-radius: 35px;
    border: 2px solid var(--red);
}

.select-btn:hover {
    color: var(--white);
    background: var(--red);
    transform: scale(1.1) !important;
    transition: all linear 0.3s;
    box-shadow: 0 0 29px -2px var(--red);
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-53 {
    margin-top: 53px;
}

.mt-12 {
    margin-top: 12px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-150 {
    padding-top: 150px;
}

.huge-global {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-35);
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: var(--dark-blue);
}

.pt-20 {
    padding-top: 20px;
}

.pt-155 {
    padding-top: 155px;
}

.pt-35 {
    padding-top: 35px;
}

.w-250 {
    width: 250px;
}

.trusted-by {
    font-family: "Rubik", sans-serif;
    line-height: 50px;
    text-align: center;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-5 {
    margin-top: 5px;
}

.pt-57 {
    padding-top: 57px;
}

.pt-57 {
    padding-top: 57px;
}

.gap-6 {
    gap: 6px;
}

.mt15 {
    margin-top: 15px;
}

.slider-box {
    border: 2px solid rgb(175, 175, 175);
    max-width: 400px !important;
    height: 250px;
    /* padding: 15px; */
    border-radius: 10px;
    border-radius: 10px;
    /* border: 2px solid var(--grey); */
    padding: 30px;
    cursor: pointer;
}

.slider-box:hover {
    border: 2px solid rgb(250, 45, 45);
    box-shadow: 0 12px 16px 0 rgba(103, 98, 98, 0.35), 0 17px 50px 0 rgba(79, 75, 75, 0.19);
    transition: 0.5s;

}

.pl-20 {
    padding-left: 20px;
}

.slick-box-heading {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-18);
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    max-width: 142px;
    color: var(--dark-blue);
}

.slick-box-address {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 30px;
    color: var(--grey);
}

.pl-105 {
    padding-left: 105px;
}

.pl-85 {
    padding-left: 85px;
}

.slick-para-3 {
    width: 340px;
    height: 100px;
    padding-top: 10px;
    color: var(--dark-blue);
}

.mt-25 {
    margin-top: 25px;
}

.prev {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--red);
    background: var(--white);
    cursor: pointer;
    transition: all 200ms linear;
}

.next {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--red);
    background: var(--white);
    cursor: pointer;
    transition: all 200ms linear;
}

.next:hover {
    background-color: var(--red);
}

.next:hover path {
    fill: var(--white);
}

.prev:hover {
    background-color: var(--red);
}

.prev:hover path {
    fill: var(--white);
}

.slick-dots li button:before {
    opacity: 0 !important;
}

.slick-track {
    display: flex !important;
    gap: 50px !important;
}

.slick-dots li {
    transition: 0.3s !important;
}

.slick-dots {
    right: 44% !important;
    bottom: -20% !important;
}

.slick-dots li {
    background-color: #DDE0E4;
    border-radius: 50%;
}

.slick-dots .slick-active {
    width: 45px;
    background-color: var(--red);
    border-radius: 10px;
}

.slick-dots {
    display: flex;
    margin-top: 10px;
    bottom: -70px;
    width: 50%;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: transparent !important;
}

.slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
    z-index: -1;
}

.slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: var(--white);
}

.slick-dots {
    bottom: -25px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.z-5 {
    z-index: 5;
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
    z-index: 5;
}

.heading-box {
    padding: 58px 70px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    background-color: var(--white);
}

.gradient {
    background: linear-gradient(360deg, rgba(248, 248, 248, 1) 50%, rgba(255, 255, 255, 1) 50%);
}

.pb-40 {
    padding-bottom: 40px;
}

.mt-57 {
    margin-top: 57px;
}


.subscribe {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-35);
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--dark-blue);
    max-width: 371px;
}

.subscribe-txt {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: var(--grey);
}

.bg-drk-wht {
    background-color: #F8F8F8;
}

.mt-80 {
    margin-top: 80px;
}

.subscribe-btn {
    padding: 17px 65px;
    border-radius: 10px;
    color: var(--white);
    background: var(--red);
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    font-weight: 700;
    line-height: 25px;
    border: none;
}


.product {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-18);
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: var(--dark-blue);
}

.subscribe-btn:hover {
    color: var(--white);
    background: var(--red);
    transform: scale(1.1) !important;
    transition: all linear 0.3s;
    box-shadow: 0 0 29px -2px var(--red);
}

.backgroundcolor-footer {
    background-color: #F8F8F8;
}

.last-paragraph {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-16);
    line-height: 30px;
}

.mw-340{
    max-width: 340px;
}

.footer:hover {
    color: red;
}

#canvas-for-googlemap img {
    max-height: none;
    max-width: none !important;
    background: none !important;
}

.google-map {
    max-width: 100%;
    list-style: none;
    transition: none;
    overflow: hidden;
    width: 1170px;
    height: 450px;
}

.svg-circle {
    /* display: inline-block; */
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--light-white);
    box-shadow: 0px 13px 18px 0px #11132314;
}

.trnsition:hover {
    transform: rotateY(360deg);
}

.trnsition {
    transition: 0.5s;
}

@media (max-width: 992px) {
    .lg-view {
        position: fixed;
        width: 100%;
        height: 102vh;
        top: 0;
        left: -150%;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        transition: 0.5s;
        gap: 20px;
    }

    .nav-icon {
        z-index: 4;
    }

    .show {
        left: 0%;
    }
}

@media (min-width:992px) {
    .mt-15 {
        margin-top: 15px;
    }

    .nav-icon {
        display: none;
    }

    .lg-view {
        display: flex;
    }

    .py-15 {
        padding-top: 80px;
        padding-bottom: 15px;
    }

    .ml-20 {
        margin-left: 20px;
    }

    .border-right-2 {
        border-right: 2px solid var(--light-grey);
    }
}

@media (max-width:768px) {
    .slick-dots {
        display: none !important;
    }

    .align-sm-center {
        align-items: center;
    }

    .pt-75 {
        padding-top: 75px;
    }

    .fs-29 {
        font-size: var(--fs-29);
    }

    .fs-27 {
        font-size: 27px;
    }

    .pt-10 {
        padding-top: 10px;
    }
}

@media (min-width:768px) {
    
.border-right-1 {
    border-right: 2px solid var(--light-grey);
}

}
@media (max-width:576px) {
    .fs-36 {
        font-size: var(--fs-36);
    }

    .line-height {
        line-height: 50px;
    }

    .gap4 {
        gap: 4px !important;
    }

    .fs-21 {
        font-size: 21px;
    }

    .lg-38 {
        line-height: 38px;
    }

    .subscribe-btn {
        padding: 10px 26px !important;
        border-radius: 10px;
        color: var(--white);
        background: var(--red);
        font-family: 'Rubik', sans-serif;
        font-size: var(--fs-11) !important;
        font-weight: 700;
        line-height: 25px;
        border: none;
        box-shadow: 0 8px 30px rgb(0, 0, 0, 0.12);
    }

    .sect2-head {
        font-size: var(--fs-28) !important;
    }

    .sect1-head {
        font-size: var(--fs-28) !important;
    }

    .vpn2 {
        font-size: var(--fs-29) !important;
    }

    .subscribe {
        font-size: var(--fs-15) !important;
    }

    .slick-dots {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        position: absolute !important;
        left: 2% !important;
    }

    .trusted-by {
        font-family: "Rubik", sans-serif;
        font-size: var(--fs-25) !important;
        font-weight: 500;
        line-height: 50px;
    }

    .happy-customer {
        font-family: "Rubik", sans-serif;
        font-size: var(--fs-28) !important;
        font-weight: 500;
        line-height: 50px;
        text-align: center;
    }
}