@import url(../css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.lasles {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-20);
    font-weight: 500;
    line-height: 23.7px;
    text-align: left;
    color: var(--dark-blue);
}


.vpn {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-20);
    font-weight: 700;
    line-height: 23.7px;
    text-align: left;
    color: var(--dark-blue);
}

.gap-10 {
    gap: 10px;
}

.about {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
    color: var(--grey);
}

.about:hover {
    color: var(--red);
}

.gap-40 {
    gap: 40px;
}

.pl-0 {
    padding-left: 0px;
}

.sign {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 18.96px;
    text-align: left;
    color: var(--dark-blue);
}

.sign:hover {
    color: var(--red);
    cursor: pointer;
}

.signlayout {
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid var(--red);
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 18.96px;
    color: var(--red);
}

.signlayout:hover {
    color: var(--white);
    background: var(--red);
}

.gap-30 {
    gap: 30px;
}

.sect1-head {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-50);
    max-width: 555px;
    font-weight: 500;
    line-height: 70px;
    text-align: left;
    color: var(--dark-blue);
}

.vpn2 {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-50);
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    color: var(--dark-blue);
}

.pt-100 {
    padding-top: 100px;
}

.sect1-head2 {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    max-width: 555px;
    line-height: 30px;
    text-align: left;
    color: var(--grey);
}

.vpn3 {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: var(--grey);
}

.getlayout {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    color: var(--red);
    border: 1px solid var(--red);
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    font-weight: 700;
    line-height: 25px;
}

.getlayout:hover {
    color: var(--white);
    background: var(--red);
    transform: scale(1.1) !important;
    transition: all linear 0.3s;
    box-shadow: 0 0 29px -2px var(--red);
}

.pt-62 {
    padding-top: 62px;
}

.info-box-lite {
    width: 205px;
}

.info-box {
    padding: 38px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.mt-90 {
    margin-top: 90px !important;
}

.border-right-1 {
    border-right: 2px solid var(--white);
}

.border-right-2 {
    border-right: 2px solid var(--white);
}

.gap-35 {
    gap: 35px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.numbers-1 {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-25);
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.numbers-2 {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-20);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.sect2-head {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-35);
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    color: var(--dark-blue);
    max-width: 383px;
}

.mt-83 {
    margin-top: 83px !important;
}

.mt-138 {
    margin-top: 138px !important;
}

.sect2-head2 {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    max-width: 428px;
    color: var(--grey);
}

.pt-31 {
    padding-top: 31px;
}

.mt-23 {
    margin-top: 23px;
}

.tikhead {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: var(--grey);
}

.pt-60{
    padding-top: 60px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-130 {
    margin-bottom: 130px;
}

.bg-white {
    background-color: var(--dark-white);
}

.plan {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-35);
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: var(--dark-blue);
}

.sect3-head2 {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 30px;
    max-width: 555px !important;
    color: var(--grey);
}

.section-3-box {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background-color: var(--white);
}

.section-3-box:hover {
    border: 2px solid var(--red);
}

.free {
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-18);
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: var(--dark-blue);
}

.Unlimited-Bandwitch {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: var(--grey);
}
.mt-30 {
    margin-top: 30px;
}

.gap-15{
    gap: 15px;
}

.pt-30{
    padding-top: 30px;
}
.pb-10 {
    padding-bottom: 10px;
}

.pb-17{
    padding-bottom: 17px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-130{
    padding-top: 130px;
}

.gap-20 {
    gap: 20px;
}

.c-p{
    cursor: pointer;
}
.mt-10 {
    margin-top: 10px;
}

.mt-92 {
    margin-top: 92px;
}
.box-last-text {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-25);
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: var(--dark-blue);
}

.box-last-text span {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-25);
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: var(--grey);
}

.pb-120 {
    padding-bottom: 120px;
}

.select-btn {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-16);
    font-weight: 700;
    line-height: 18.96px;
    text-align: left;
    color: var(--red);
    background-color: #ffffff;
    padding: 13px 62px 13px 62px;
    border-radius: 35px;
    border: 2px solid var(--red);
}

.select-btn:hover {
    background-color: var(--red);
    color: var(--white);
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-53 {
    margin-top: 53px;
}

.mt-12 {
    margin-top: 12px;
}

.standard-plan {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-18);
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: var(--dark-blue);
}

.premium-plan {
    font-family: "Rubik", sans-serif;
    font-size: var(--fs-18);
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: var(--dark-blue);
}

.pt-90 {
    padding-top: 90px;
}

.pt-50 {
    padding-top: 50px;
}